
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(80, 80, 80); */
}

:root {
  --dark-bg-font: #fff;
  --light-bg-font: #000;
  --font-azeret: 'Azeret Mono', monospace;
  --font-poppins: 'Poppins', 'sans-serif';
  --font-perm-marker: 'Permanent Marker', cursive;
  --font-roboto: 'Roboto', sans-serif;
  --border-lines-gray:  #424242;
  --border-lines-lightGray:  rgb(165, 165, 165);
}

.font_aze {
  font-family: var(--font-azeret);
  font-weight: 200;
}

.font_marker {
  font-family: var(--font-perm-marker) !important;
  /* font-weight: 200; */
}

.font_roboto {
  font-family: var(--font-roboto) !important;
  /* font-weight: 700; */
}

#main_page {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

fade {
  position: absolute;
  bottom: 0;

  display: block;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(to bottom, 
      rgba(255, 255, 255, 0), 
      #101010
  100%);
  filter: opacity(100%);
}



/* ! NAVBAR SECTION  */
#navbar {
  position: fixed;
  top: 0px;
  display: none;


  padding: 10px;
  width: 100vw; /* Ensure the navbar spans the full width */

  z-index: 5;
  transition: opacity 1s ease-out
}


#navbar_item_1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
}

#menu_logo_ctn {
  height: 70px;
  width: 80px;
  text-align: center;

  padding: 10px;
}

#menu_logo img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  /* padding-top: 10px; */
}

#navbar.navbar-visible {
  display: block;
  background-color: rgba(16, 16, 16, 0.8); /* slightly darker background */
}
/* ! NAVBAR SECTION  */

/* ! MENU SECTION */
#menu_ctn {
  padding: 5x;
  display: none;
}

#menu_ctn.visible {
  display: block;
}

/* Show the menu when the SVG has the 'active' class */
.ham.active + #menu_ctn {
  display: block;
}

#menu_ctn li {
  padding: 10px;

    list-style-type: none;
}

#menu a {
  font-size: 12px;
  color: white;
  font-family: var(--font-azeret);
  text-decoration: none;
  padding-left: 20px;
  cursor: pointer;
}

#menu a:hover {
  color: rgb(255, 0, 0) !important;
  text-decoration: none;
}
/* ! MENU SECTION */

/* ! BACKGROUND SECIION  */
#background_ctn {
  /* width: 100vw; */
  height: 80vh; /* Change on Desktop/Tablet */
  margin-top: 140px;
  position: relative;
  overflow: hidden;
}

#main-img {
  height: 100%;
  width: 275%;
  filter: brightness(25%);
  
  z-index: -1;

  /* Image Centering  */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  /* Image Centering  */
}

#top-img {
  height: 100%;
  width: 275%;
  
  z-index: 2;

  /* Image Centering  */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  /* Image Centering  */
}
/* ! LOGO SECTION  */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#main_logo img {
  width: 250px;
  height: 278px;

  margin: auto;

  padding-top: 20px;
}
/* ! LOGO SECTION  */


/* ! PROJECT SECTION  */
.proj_card {
  margin-top: 100px;
}

#main_proj img{
  width: 250px;
  height: 278px;

  margin: auto;

  padding-top: 20px;
}
/* ! PROJECT SECTION  */

/* ! FLAVOR TEXT SECTION  */
#main_content_ctn {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  text-align: center;
  padding: 20px;
}

#main_content_ctn h1 {
  margin: 20px;
  font-family: var(--font-perm-marker);
}

#main_content_ctn p {
  line-height: 2.5;
  font-family: var(--font-roboto);
}


#first_block {
  margin-top: 150px;
}
/* ! FLAVOR TEXT SECTION  */











/* ! ARROW AND BOOK SECITON   */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}


#book_text {
  position: relative;

  
  z-index: 5;
}

#book_text img {
  width: 200px;
  height: 80px;
  
}

/* top/right/bottom/left */
#book_text a {
  position: absolute;
  bottom: 80px;

  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid var(--border-lines-lightGray);
  color: white;
  text-decoration: none;
  padding: 0 0 30px 0;
  
  text-align: center;
}

#book_text a:hover {
  color: rgb(255, 0, 0) !important;
  text-decoration: none;
}

#arrow_ctn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

/* ! ARROW AND BOOK SECITON   */
@media screen and (min-width: 1920px) {


/* ! BACKGROUND SECIION  */
#background_ctn {
  /* width: 100vw; */
  height: 100vh; /* Change on Desktop/Tablet */
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}
#main-img {
  height: 100%;
  width: 100%;
  filter: brightness(25%);
  
  z-index: -1;

  /* Image Centering  */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  /* Image Centering  */
}


#top-img {
  height: 100%;
  width: 100%;
  
  z-index: 2;

  /* Image Centering  */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  /* Image Centering  */
}

/* ! LOGO SECTION  */
#main_logo img {
}
/* ! LOGO SECTION  */
}
